Implementing ACID properties on a relational database using Python with SQL

Problem Statement - The product p1 changes its name to pp1 in Product and Stock

In [1]:
# importing SQL connector
import mysql.connector
print('beginning')

#defining a function to establish connection with database
def get_conn():
    con = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Brycecarter11!',
    database = 'cs623_project_Othniel')
    
    #implementing ACID properties - for isolation, we set isolation level to SERIALIZABLE
    con.start_transaction(isolation_level = 'SERIALIZABLE')
    #for atomicity, we set autocomit to false
    con.autocommit = False

    return con

beginning

In [3]:
#Creating product table using cursor object and assigning primary key and needed check constraint
try:
    con = get_conn()
    cur = con.cursor()
    sql1 = 'create table product(prod_id varchar(10), prod_name varchar(25), prod_price float)'
    sql2 = 'alter table product add constraint pk_product_id primary key (prod_id)'
    sql3 = 'alter table product add constraint ck_product_price check(prod_price > 0)'
    cur.execute(sql1)
    cur.execute(sql2)
    cur.execute(sql3)
except (Exception) as err:
    print('err')
    print('transactions not compeleted, rollback')
    print(err)
    con.rollback()
finally:
    if con:
        con.commit()
        cur.close()
        con.close()
        print('mysql closed')
print('end1')

mysql closed
end1

In [4]:
#Creating depot table and assigning primary key and needed check constraint
try:
    con = get_conn()
    cur = con.cursor()
    sql4 = 'create table depot(dep_id varchar(10), dep_addr varchar(25), dep_vol float)'
    sql5 = 'alter table depot add constraint pk_depot_id primary key (dep_id)'
    sql6 = 'alter table depot add constraint ck_depot_vol check (dep_vol > 0)'
    cur.execute(sql4)
    cur.execute(sql5)
    cur.execute(sql6)
except (Exception) as err:
    print('err')
    print('transactions not compeleted, rollback')
    print(err)
    con.rollback()
finally:
    if con:
        con.commit()
        cur.close()
        con.close()
        print('mysql closed')
print('end2')

mysql closed
end2

In [5]:
#Creating stock table and assigning prod_id and dep_id as foriegn key constraints with cascade clause
try:
    con = get_conn()
    cur = con.cursor()
    sql7 = 'create table stock(prod_id varchar(10), dep_id varchar(10), st_qty float)'
    sql8 = 'alter table stock add constraint pk_prod_dep_id primary key (prod_id, dep_id)'
    sql9 = 'alter table stock add constraint fk_prod_id foreign key (prod_id) references product(prod_id) on update cascade on delete cascade'
    sql10 = 'alter table stock add constraint fk_dep_id foreign key (dep_id) references depot(dep_id) on update cascade on delete cascade'
    cur.execute(sql7)
    cur.execute(sql8)
    cur.execute(sql9)
    cur.execute(sql10)
except (Exception) as err:
    print('err')
    print('transactions not compeleted, rollback')
    print(err)
    con.rollback()
finally:
    if con:
        con.commit()
        cur.close()
        con.close()
        print('mysql closed')
print('end3')

mysql closed
end3

In [6]:
#Here we populate our tables with the values provided
try:
    con = get_conn()
    cur = con.cursor()
    sql11 = "INSERT INTO product values('p1','tape',2.5),('p2','tv',250),('p3','ver',80)"
    sql12 = "INSERT INTO depot values('d1','New York',9000),('d2','Syracuse',6000),('d4','New York',2000)"
    sql13 = "INSERT INTO stock values('p1','d1',1000),('p1','d2',-100),('p1','d4',1200),('p3','d1',3000),('p3','d4',2000),('p2','d4',1500),('p2','d1',-400),('p2','d2',2000)"
    cur.execute(sql11)
    cur.execute(sql12)
    cur.execute(sql13)
except (Exception) as err:
    print('err')
    print('transactions not compeleted, rollback')
    print(err)
    con.rollback()
finally:
    if con:
        con.commit()
        cur.close()
        con.close()
        print('mysql closed')
print('end4')

mysql closed
end4

In [7]:
#Here we execute our problem statement by updating the product_id p1 as pp1 in parent table(product),it should also reflects in child table(stock)
try:
    con = get_conn()
    cur = con.cursor()
    sql14 = "update product set prod_id ='pp1' where prod_id = 'p1'"
    cur.execute(sql14)
except (Exception) as err:
    print('err')
    print('transactions not compeleted, rollback')
    print(err)
    con.rollback()
finally:
    if con:
        con.commit()
        cur.close()
        con.close()
        print('mysql closed')
print('end5')

mysql closed
end5

In [8]:
#Here we use fetchall method to return result of the given problem statement
try:
    con = get_conn()
    cur = con.cursor()
    sql15 = "select * from stock"
    col_lis = ['prod_id', 'dep_id', 'st_qty']
    #values = ('prod_id', 'dep_id', 'st_qtr')
    cur.execute(sql15)
    result = cur.fetchall()
except (Exception) as err:
    print('err')
    print('transactions not compeleted, rollback')
    print(err)
    con.rollback()
finally:
    if con:
        con.commit()
        cur.close
        con.close
        #print('mysql closed')

for x in range(len(result)):
    temp = str(result[x]).strip('(').strip(')').strip().split(',')
    strt = ''
    for xx in range(len(temp)):
        strt+= col_lis[xx] + ' : ' + temp[xx] +' | ' 
    #strt+='\n'
    print(strt)

prod_id : 'p2' | dep_id :  'd1' | st_qty :  -400.0 |
prod_id : 'p2' | dep_id :  'd2' | st_qty :  2000.0 |
prod_id : 'p2' | dep_id :  'd4' | st_qty :  1500.0 |
prod_id : 'p3' | dep_id :  'd1' | st_qty :  3000.0 |
prod_id : 'p3' | dep_id :  'd4' | st_qty :  2000.0 |
prod_id : 'pp1' | dep_id :  'd1' | st_qty :  1000.0 |
prod_id : 'pp1' | dep_id :  'd2' | st_qty :  -100.0 |
prod_id : 'pp1' | dep_id :  'd4' | st_qty :  1200.0 |